/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.brand-title {
  font-size: 1.5em;
  margin: 0.5em;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 1em;
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links ul {
    width: 100%;
  }

  .navbar-links li {
    text-align: end;
    width: 100%;
  }

  .navbar-links a {
    padding: 10px;
    width: 100%;
  }
}
